.container h1 {
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.container {
    margin: auto;
    padding: 30px;
    /* border: red solid 1px; */
    width: 80%;
}

#project {
    border-radius: 2px;
    padding: 2px 8px;
    color: white;
    margin-right: 1px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;;
}

.html {
    background-color: orangered;
}

.css {
    background-color: darkblue;
}

.js {
    background-color: #f2dd1f;
}

.php {
    background-color: purple;
}

.api {
    background-color: skyblue;
}

.other {
    background-color: slategrey;
}

.tagged {
    text-decoration: none;
    color: white;
    border-radius: 2px;
    padding: 2px 8px;
    margin-right: 1px;
}

#to-do-list {
    background-color: green;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}

#coffee {
    background-color: burlywood;
}

#project {
    color: white;
    background-color: gray;
}

.section {
    box-shadow: 0px 0px 0px 1px black inset;
    padding: 10px;
    transition: 0.3s;
}

.section:hover {
    box-shadow: 0px 0px 0px 2px #0127ec inset;
    background-color: #00000030;
}

.tags {
    margin-top: 25px;
    font-size: 9pt;
    line-height: 16pt;
}
